<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeReminder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TimeReminder.My.MySettings>
            <setting name="AccentColor1" serializeAs="String">
                <value>25, 135, 209</value>
            </setting>
            <setting name="AccentColor2" serializeAs="String">
                <value>0, 122, 204</value>
            </setting>
            <setting name="AccentColor3" serializeAs="String">
                <value>0, 109, 183</value>
            </setting>
            <setting name="ColorDarken" serializeAs="String">
                <value>ControlDarkDark</value>
            </setting>
            <setting name="ColorDark" serializeAs="String">
                <value>ControlDark</value>
            </setting>
            <setting name="ColorLight" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="AbsoluteDark" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="AbsoluteLight" serializeAs="String">
                <value>250, 250, 250</value>
            </setting>
            <setting name="RoundedButtons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RoundedResolution" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AccentForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ColorLighten" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="StartTime" serializeAs="String">
                <value>09:00:00</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>18:00:00</value>
            </setting>
            <setting name="IntervalTime" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="IntervalAction" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotifyTitle" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifyText" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifyDuration" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="NotifyAtenuarPantalla" serializeAs="String">
                <value>True</value>
            </setting>
        </TimeReminder.My.MySettings>
    </userSettings>
</configuration>