
/* width */
::-webkit-scrollbar {
  background-color: #333;
  width: 10px;
}  
/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}  
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #555;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 122, 204); 
}

html
{
    scroll-behavior: smooth;
}
